* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    font-size: 62.73%;
}

a{
    text-decoration: none;
    color: inicial;
}
body{
    font-family: 'Calligraffitti', cursive;
    background-color: aliceblue;
}
   
header{
    position: fixed;
    background-color: aliceblue;
    margin:auto;
}
    
main{
    padding-top: 108px;
}

header, 
main > section > div {
    width: 80%;
    margin: auto;
}


header{
    font-size: 1.4rem;
    padding: 1rem 0 0;
}

header > img{
    float :left;
}

header > div a {
    padding: 8px 12px;
    border-radius: 9999px;
    transition: background 0.5  s ease-in-out, padding 0.2s ease-in-out;
}

header > div a:hover {
    background-color: rgba(34, 34, 34, 0.15)
}

header > nav{
    clear: both;
}
header form#search-box {
    display: inline-block;
    width: 80%; 
    margin: 0 8px 0 6px;

}

header form#search-box input{
    width: 100%;
    height: 32px;
    border: 1px solid rgba(34, 34, 34, 0.15);
    outline: none;
    padding: 2.2rem;
    border-radius: 24px;
    background-color: rgba(34, 34, 34, 0.1);
    font-size: 1.6rem;
}
ul{
    list-style: none;
}

nav {
    margin:1.5rem 0;
}
header > nav >ul > li {
    display:inline-block;

}

main > section.product-category {
    background-color: #ddebe3;

}
